<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
</ion-navbar>

<ion-content class="outer-content">

    <ion-card *ngFor="#team of shortTeamView">

        <ion-card-header>
            <button ion-item (click)="goToGroupDetail(team)">
                <!--<ion-avatar item-left>-->
                    <!--<img src="http://pics.clipartpng.com/Basketball_PNG_Clipart-842.png">-->
                <!--</ion-avatar>-->
                {{team.teamName}}
            </button>
        </ion-card-header>

        <ion-list>
            <ion-item class="leaderboard-header">
                <ion-row>
                    <ion-col width-10>
                        <p>Rk</p>
                    </ion-col>
                    <ion-col width-40>
                        <p>Name</p>
                    </ion-col>
                    <ion-col width-20>
                        <p>Tier</p>
                    </ion-col>
                    <ion-col width-20>
                        <p>Points</p>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item *ngFor="#member of team.fullScoresTableList">
                <ion-row>
                    <ion-col width-10>
                        {{member.rank}}
                    </ion-col>
                    <ion-col width-50>
                        {{member.userName}}
                    </ion-col>
                    <ion-col width-20>
                        <ion-icon name="trophy"></ion-icon>
                    </ion-col>
                    <ion-col width-20>
                        {{member.points}}
                    </ion-col>
                </ion-row>
            </ion-item>

        </ion-list>

    </ion-card>

    <ion-card>
        <ion-card-content>
            <button ion-item (click)="openModal({charNum: 0})">
                <ion-icon ios="ios-add-circle" md="md-add-circle" is-active="false" item-left></ion-icon>
                Join Group
            </button>
        </ion-card-content>
    </ion-card>

</ion-content>

<button fab primary fab-bottom fab-right style="z-index: 999">
    <ion-icon ios="ios-add" md="md-add" is-active="false"></ion-icon>
</button>