.groupTab .segment-button {
  border-style: none;
  color: #f53d3d;
  font-size: inherit;
}

.groupTab .segment-button ion-icon {
  font-size: inherit;
}

.groupTab .segment-button.segment-activated {
  background-color: transparent;
}

ion-datetime.inline {
  display: inline-block;
}