<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{team.teamName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="img/team_cover.png"/>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="groupTab">
            <ion-segment-button value="scores">
                Scores
            </ion-segment-button>
            <ion-segment-button value="attendance">
                Attendance
            </ion-segment-button>
            <ion-segment-button value="velocity">
                Velocity
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="groupTab">
        <ion-list *ngSwitchCase="'scores'">
            <ion-item class="leaderboard-header">
                <ion-row>
                    <ion-col width-10>
                        <p>Rk</p>
                    </ion-col>
                    <ion-col width-40>
                        <p>Name</p>
                    </ion-col>
                    <ion-col width-20>
                        <p>Badge</p>
                    </ion-col>
                    <ion-col width-20>
                        <p>Points</p>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item *ngFor="let member of teamScores">
                <ion-row>
                    <ion-col width-10>
                        {{member.rank}}
                    </ion-col>
                    <ion-col width-50>
                        {{member.userName}}
                    </ion-col>
                    <ion-col width-20>
                        <ion-icon name="trophy"></ion-icon>
                    </ion-col>
                    <ion-col width-20>
                        {{member.points}}
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'attendance'">
            <ion-list-header>
                <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="curDate"
                              (ionChange)="onCurDateChange($event)"></ion-datetime>
            </ion-list-header>

            <ion-item *ngFor="let member of teamMembers">
                {{member.userName}}
                <button ion-button outline item-right (click)="markPresent(member)">
                    Present
                </button>
                <button ion-button outline item-right (click)="markAbsent(member)">
                    Absent
                </button>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'velocity'">
            <ion-card>
                <ion-card-header>
                    <span>Attending on:</span>
                    <ion-datetime class="inline" displayFormat="DD MMM YYYY"
                                  [(ngModel)]="curDate" (ionChange)="onCurDateChange($event)"></ion-datetime>
                </ion-card-header>

                <ion-card-content>
                    <ion-list *ngFor="let member of attendees">
                        <ion-item>
                            <ion-avatar item-left>
                                <img src="img/michael-phelps.png">
                            </ion-avatar>
                            <h2>{{member.userName}}</h2>
                            <p>Tahaks juba trenni...</p>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    Attendance Graph
                </ion-card-header>

                <ion-card-content>
                    <!--<div class="chart-container">-->
                    <!--<base-chart class="chart"-->
                    <!--[data]="attenChartData"-->
                    <!--[labels]="attenChartLabels"-->
                    <!--[options]="lineChartOptions"-->
                    <!--[series]="attendanceChartSeries"-->
                    <!--[colours]="lineChartColours"-->
                    <!--[legend]="lineChartLegend"-->
                    <!--[chartType]="lineChartType"-->
                    <!--(chartHover)="attendanceChartHovered($event)"-->
                    <!--(chartClick)="attendanceChartClicked($event)"></base-chart>-->
                    <!--</div>-->
                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>

</ion-content>
